@import "~bulma";
@import "~bulma-timeline";

.hide {
  display: none;
}

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-username {
  display: flex;
  align-items: center;
}

.gh-username img {
  width: 32px;
}

.content-user {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;

  a {
    margin: 0 5px;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
}

.username {
  box-sizing: border-box;
  transition: border-color 300ms ease-in-out;
}

.has-error {
  border-color: red;
}
