@import "~bulma";
@import "~bulma-timeline";

.hide {
  display: none;
}

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-username {
  display: flex;
  align-items: center;
}

.gh-username img {
  width: 32px;
}

.content-user {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;

  a {
    margin: 0 5px;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
}

.username {
  box-sizing: border-box;
  transition: border-color 300ms ease-in-out;
}

.has-error {
  border-color: red;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@mixin placeholder {
  background: linear-gradient(90deg, #f5f5f5, #dedede, #f5f5f5);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}

#profile-placeholder {
  figure.image {
    @include placeholder;
  }

  .title {
    @include placeholder;
    width: 100px;
    height: 1.25rem;
  }

  .subtitle {
    @include placeholder;
    width: 80px;
    height: 1rem;
  }

  #profile-bio p {
    @include placeholder;
    width: 100%;
    height: 1rem;margin-bottom: 0.5rem;

  }
}

#timeline-placeholder {
  .heading {
    @include placeholder;
    height: 11px;
    width: 70px;
  }

  .gh-username {
    div {
      @include placeholder;
      height: 32px;
      width: 32px;
    }

    a {
      @include placeholder;
      width: 40px;
      height: 1rem;
    }
  }

  .placeholder-pull-action {
    @include placeholder;
    height: 1rem;
    width: 40px;
    margin-right: 5px;
  }

  .placeholder-pull-request {
    @include placeholder;
    height: 1rem;
    width: 60px;
  }

  .repo-name {
    @include placeholder;
    height: 1rem;
    width: 100%;
  }
}
